services:
  redis:
    image: redis:latest #redis 7.2.4
    network_mode: host  # 设置为host网络模式
    command: redis-server /etc/redis/redis.conf
    volumes:
      - ./compose/redis/data:/data
      - ./compose/redis/redis.conf:/etc/redis/redis.conf



